body {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 33, 72);
  position: relative;
}

.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: azure;
}
